/* INDEX */

body {
    background : url(http://www.wowarmory.com/images/theme/wrath/bg.jpg) no-repeat black;
    color : white;
}

h1 {
    text-align : center;
}

input {
    padding : 5px;
    border : 1px solid #DDD;
}

#char_select {
    text-align : center;
    margin: auto;
}

/* FIGHT */

a img {
    border : 0px;
}

#status {
    font-size : 3em;
    text-align : center;
    padding : 20px;
    margin : 20px;
}

.character {
    padding : 20px;
    margin-top : 10px;
    clear : both;
}

.character h1, #char_select, #status {
    background : #111;
    border : white 2px solid;
    padding : 20px;
    -moz-border-radius : 20px;
}

.character a {
    color : white;
}

.character ul {
    padding : 0px;    
}

.character li {
    float : left;
    padding : 5px;
    list-style-type : none;
}

